{
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
