<span class="designer-format-element-container">
    <app-popup [open]="open()">
        <div class="designer-format-element-config">
            <div class="designer-format-element-config-group">
                Foreground:
                <select
                    [ngModel]="format().foreground.intensity"
                    (ngModelChange)="updateFGIntensity($event)"
                >
                    @for (intensity of intensities; track intensity) {
                        <option [value]="intensity">{{ intensity }}</option>
                    }
                </select>
                <select
                    [ngModel]="format().foreground.color"
                    (ngModelChange)="updateFGColor($event)"
                >
                    @for (color of colors; track color) {
                        <option [value]="color">{{ color }}</option>
                    }
                </select>
            </div>
        </div>
    </app-popup>
    <button (click)="toggleForm()" class="designer-format-element-value">
        FMT
    </button>
</span>
